@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts - Selected some fonts to use then imported it here for use... Add: Body{} font-family is the font I selected */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  /* Some CSS reset. This is very good idea to do for all projects to ensure UI will look the same on all browsers */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: rgba(242, 242, 242, 0.6);
  --transition: all 400 ease;
  --darkColor: #293f50;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
  background: var(--color-bg);
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}
