body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--color-grey-primary-dark);
}

h3 {
  border-bottom: 1px solid var(--font-color-primary);
  font-size: 1.25rem;
  /* display: inline; */
  /* font-weight: normal; */
}

:root {
  --color-primary: #726eff;
  --color-primary-dark: #3700b3;
  --color-secondary: #5affe7;
  --color-secondary-dark: #08c6ab;
  --color-grey-primary: #282829;
  --color-grey-primary-dark: #222427;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-color-primary: #dfe4ea;

  /* Media Queries */

  --bp-largest: 75em; /* 1200px */
  --bp-large: 68.75em; /* 1100px */
  --bp-medium: 56.25em; /* 900px */
  --bp-small: 37.5em; /* 600px */
  --bp-smallest: 31.25em; /* 500px */
  --bp-smallest-5s: 21.25em;
}

a {
  color: var(--color-secondary);
}

.contact-button > a {
  color: var(--color-grey-primary);
}

.container {
  padding: 1rem;
  margin: 0 2rem;
  font-family: var(--font-primary);
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

.contact-button {
  background: white;
  color: white;
  border-radius: 25px;
  border: 1px solid;
  transition: all 0.4s ease-out;
  padding: 5px 10px 5px;
  margin: 0px 15px 0;
}

.contact-button:visited {
  color: black;
}

.contact-button:hover {
  color: white;
  border-color: black;
  background: var(--color-secondary);
}

.skill-card {
  background: grey;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}
